$btn-color: black;
$btn-opacity: 0.3;
$btn-hover-opacity: 0.8;

.btn-rounded{
  border-radius: 50px;
  padding: 0.6em 1.5em;
  border: 1px solid $btn-color;
  color: $btn-color;
  text-decoration: none;
  opacity: $btn-opacity;
  transition: opacity 0.3s ease;
  &:hover{
    opacity: $btn-hover-opacity;
  }
}
