



#footer {
  background: $gray-darker;
  padding: 30px 0;
  color: $gray-lighter;
  p {
    margin-top: 17px;
  }
  ul {
    margin-top: 10px;
  }
  a {
    color: $gray-lighter;
    font-size: 30px;
    letter-spacing: 20px;
    transition: color 0.5s ease;
    &:hover {
      color: $red;
    }
  }
}// Your footer style
