/* -------------------------------------
 * Colors & Fonts
 * ------------------------------------- */
$navbar-color: white;
$navbar-hover-color: $yellow;
$navbar-font-family: $header-font;
$navbar-bg: $gray-darker;

/* -------------------------------------
 * Box model
 * ------------------------------------- */
$navbar-height: 50px;
$navbar-vertical-padding: 5px;
$navbar-horizontal-padding: 20px;
$navbar-border-bottom-width: 0;
$navbar-border-bottom-color: grey;

/* -------------------------------------
 * Navbar button
 * ------------------------------------- */
$navbar-btn-height: 40px;
$navbar-btn-bg: lightgrey;
$navbar-btn-color: white;
$navbar-btn-horizontal-padding: 10px;
$navbar-btn-radius: 2px;

/* -------------------------------------
 * Navbar profile picture
 * ------------------------------------- */
$navbar-profile-radius: 50%;
$navbar-profile-border-color: white;
$navbar-profile-border-width: 2px;

/* -------------------------------------
 * SCSS code
 * ------------------------------------- */
.navbar-wagon {
  background: $navbar-bg;
  font-family: $navbar-font-family;
  border: none;
  font-weight: 400;
  padding-left: $navbar-horizontal-padding;
  padding-right: $navbar-horizontal-padding;
  border-bottom: $navbar-border-bottom-width solid $navbar-border-bottom-color;
  min-height: 0;
  transition: background 0.4s ease;

  .navbar-nav > li > a,
  .navbar-nav > .open > a,
  .navbar-nav > li > a:focus,
  .navbar-nav > .open > a:focus {
    outline: none;
    color: $navbar-color;
    line-height: $navbar-height;
    padding-top: $navbar-vertical-padding;
    padding-bottom: $navbar-vertical-padding;
    background-color: transparent;
    -webkit-transition: all 0.3s ease;
       -moz-transition: all 0.3s ease;
        -ms-transition: all 0.3s ease;
            transition: all 0.3s ease;
  }

  .navbar-nav > li > a:hover,
  .navbar-nav > .open > a:hover {
    color: $navbar-hover-color;
    background-color: transparent;
  }

  .navbar-brand,
  .navbar-brand:hover {
    outline: none;
    color: $navbar-color;
    padding-top: $navbar-vertical-padding;
    padding-bottom: $navbar-vertical-padding;
  }

  .navbar-nav > li > a.btn {
    line-height: $navbar-btn-height;
    padding: 0 $navbar-btn-horizontal-padding;
    color: $navbar-btn-color;
    border-radius: $navbar-btn-radius;
    margin-top: ($navbar-height + 2 * $navbar-vertical-padding - $navbar-btn-height) / 2;
    font-weight: bold;
    background-color: $navbar-btn-bg;
    font-size: 12px;
    &:hover{
      background-color: darken($navbar-btn-bg, 30%);
    }
  }

  .navbar-brand img, .navbar-brand svg {
    height: $navbar-height;
    padding: 0px;
  }

  .img-avatar{
    border: $navbar-profile-border-width solid $navbar-profile-border-color;
    box-shadow: 0 0 2px rgb(200, 200, 200);
    height: $navbar-height - (2 * $navbar-profile-border-width);
    margin-right: 10px;
    border-radius: $navbar-profile-radius;
  }

  .navbar-toggle {
    border-color: #dddddd;
    width: 45px;
    background: transparent;
  }

  .navbar-nav > li > .dropdown-menu{
    border-radius: 0;
    margin-top: 10px;
  }

  .navbar-nav > li > .dropdown-menu:before{
    position: absolute;
    background: white;
    height: 10px;
    width: 10px;
    content: "\00a0";
    display: block;
    left: 50%;
    margin-left: -5px;
    top: -5px;
    transform: rotate(45deg);
    border-top: 1px solid #e6e6e6;
    border-left: 1px solid #e6e6e6;
    z-index: -1;
  }
}

/* -------------------------------------
 * Navbar profile picture
 * ------------------------------------- */

@media screen and (max-width: 768px) {
  .navbar-wagon {
    .navbar-brand img, .navbar-brand svg {
      height: 50px;
    }
    .navbar-brand, .navbar-brand:hover
     {
      display: block;
      color: $navbar-color;
      padding-top: 0;
      padding-bottom: 0;
    }
  }
}
