#banner {
  background-image: image-url('background.jpg');
  color: white;
  padding: 150px 0;
  background-size: cover;
  height: 650px;
  h1 {
    font-size: 70px;
    color: white;
    font-family: $gotham;
    letter-spacing: 5px;
  }
  p {
    font-size: 25px;
    font-weight: 100;
  }
}
