---
title: Our Team
---
<div class="text-center padded">
  <h1>Our team</h1>
  <ul class="list-inline text-center">
    <li>
      <img src="http://placehold.it/200x200/" alt="" class="img-circle">
      <h2>Bill</h2>
    </li>
    <li>
      <img src="http://placehold.it/200x200" alt="" class="img-circle">
      <h2>Bob</h2>
    </li>
    <li>
      <img src="http://placehold.it/200x200" alt="" class="img-circle">
      <h2>Tom</h2>
    </li>
  </ul>
</div>
